---
layout: default

---

<div class="Portfolio">
    <div class="Intro js-waterfall">
        <div class="Intro__blurb">
            <h1 class="Intro__title">Hello, my name is <em>Dustin Boersma</em>.</h1>
            <h2 class="Intro__subtitle">I'm a <em>web developer</em>, and I specialize in <em>front-end</em> and <em>visual problem solving</em>.</h2>
        </div>
    </div>
    <ul class="ProjectList" aria-label="Featured projects">
        {% for project in site.data.projects %}
            <li class="ProjectList__project js-waterfall">
                <a class="Project" href="{{ project.url }}" target="_blank" rel="noopener noreferrer">
                    <div class="Project__image" style="background-image: url({{ project.image_url }});"></div>
                    <div class="Project__text">
                        <div class="Project__identity">
                            <h3 class="Project__title">{{ project.title }}</h3>
                            <span class="Project__company" aria-label="Employer">{{ project.company_label }}</span>
                        </div>
                        <ul class="Project__tagList" aria-label="Contributions">
                          {% for role in project.roles %}
                            <li class="Project__tag">{{ role.title }}</li>
                          {% endfor %}
                        </ul>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
