@import "_normalize.css.styl";
@import "_fonts.css.styl";

$main-font = 'Open Sans', sans-serif;
$main-color = #333333;
$accent-color = #145B7F;
$background-color = darken(rgb(255, 255, 255), 6%);

/* # Global
================================================== */

body {
  font-family: $main-font;
  color: $main-color;
  font-size: 15px;
  line-height: 1.5em;
  background: $background-color;
  font-weight: 400;
  letter-spacing: 0.01em;
  overflow-y: scroll;
}

h1, h2, h3, h4 {
  font-weight: normal;
  line-height: 1.1em;
  text-rendering: optimizelegibility;
  margin: 0.33em 0;
}
p {
  margin: 0 0 1em;
}
a {
  color: $accent-color;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  word-wrap: break-word;
  transition: all 0.3s ease-out;
  display: inline-block;
  line-height: 1.1em;
  &:hover, &:active, &:focus {
    outline: 0;
    text-decoration: none;
    border-bottom-color: $accent-color;
    z-index: 2;
  }
}
.image-wrapper img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
.main {
  padding: 0 0 0 0;
}
.inner-wrapper {
  max-width: 980px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

/* # Global Header
================================================== */
.site-header {
  font-family: $main-font;
  background: #fcfcfc;
  border-bottom: 1px solid #d7d7d7;
  font-size: 13px;
  padding: 0.618em 0 0.2em;
  letter-spacing: 0.01em;
  font-weight: 600;
  margin-bottom: 2em;
  a {
    display: inline-block;
    line-height: 1.2em;
    border: 0;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .site-logo {
    display: inline-block;
  }
  .site-nav {
    float:  right;
    margin: 0;
    list-style: none;
    display: inline-block;
    li {
      display: inline-block;
      margin-left: 1.5em;
    }
  }
}

/* # Intro Blurb
================================================== */
.intro-blurb {
  font-size: 32px;
  padding: 3% 0 2% 0;
}

/* # Contact Links
================================================== */
.contact-container {
  text-align: right;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* # Project Tiles
================================================== */
.project-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
  margin: 0 -5px;
}
.project {
  box-sizing: border-box;
  position: relative;
  width: 33.333%;
  padding: 0 5px 10px;
  @media all and (max-width: 900px) {
    width: 50%;
  }
  @media all and (max-width: 500px) {
    width: 100%;
  }
}
.project-link {
  display: block;
  border-bottom: none;
  padding: 14px;
  line-height: 20px;
  background: #39c;
  color: #f0f0f0;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.project-image {
  margin-bottom: 10px;
  border: 1px solid darken(#39c, 5%);
  background-size: cover;
  background-position: top center;
  width: 100%;
  position: relative;
  &:before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}
.project-title {
  font-size: 22px;
  letter-spacing: 0.025em;
}
.project-company {
  display: block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.75);
}
.project-technology {
  margin: 0;
}
.project-technology-item {
    margin: 0 0.25em 0 0;
    display: inline-block;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
}
.project-link {
  .project-image {
    position: relative;
    text-align: center;
    &:before {
      transition: background-color 0.3s ease-out;
    }
    &:after {
      content: 'visit site';
      transition: opacity 0.3s ease-out;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      letter-spacing: 0.1em;;
      font-weight: 400;
      opacity: 0;
    }
  } 
  &:hover, &:active, &:focus {
    background: darken(#39c, 20%);
    .project-image {
      border-color: darken(#39c, 20%);
      background-color: rgba(0,0,0,0.5);
      &:before {
        background-color: rgba(0,0,0,0.5);
      }
      &:after {
        opacity: 1;
      }
    }
  }
}

/* # Blog
================================================== */
.tmblr-iframe {
  top: auto !important;
  bottom: 0 !important;
}
.blog-post {
  padding: 20px 0;
  blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #d7d7d7;
  }
  .post-meta-container {
    display: block;
    vertical-align: top;
    text-transform: lowercase;
  }
  .post-meta {
    display: inline-block;
    margin: 0 1em 0 0;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .post-inner {
    display: inline-block;
    width: 89%;
  }
  .post-title {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
  }
  .post-tag {
    margin: 0 3px 3px 0;
    padding: 0.5em 0.75em;
    display: inline-block;
    background: #bebebe;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 3px;
    &:hover, &:active, &:focus {
      border-color: transparent;
      color: rgb(255, 255, 255);
      background: $accent-color;
    }
  }
  .post-media {
    float: left;
    margin-right: 20px;
  }
}
.blog-navigation {
  margin-bottom: 80px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* # Animations
================================================== */
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.waterfall {
  perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.waterfall.animate {
  animation: fadeIn 1.0s ease-out 1 forwards;
}
