<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site.title }}{% if page.description %} | {{ page.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="{{ site.title }}{% if page.description %} | {{ page.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Nunito:300,400" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/styles/global.css' | relative_url }}">

</head>

<body>
  <div class="site-bg"></div>
  <nav class="PrimaryNav">
      <div class="PrimaryNav__inner">
          <ul class="ContactList">
              <li class="ContactList__item">
                  <a class="ContactList__link ContactList__link--current" href="/">Portfolio</a>
              </li>
              {% for contact in site.data.contact %}
                  <li class="ContactList__item">
                      <a class="ContactList__link" href="{{ contact.url }}" target="_blank" rel="noopener noreferrer">{{ contact.label }}</a>
                  </li>
              {% endfor %}
          </ul>
      </div>
  </nav>
  <main class="main">
    {{ content }}
  </main>

  <script src="{{ '/scripts/global.js' | relative_url }}">
  {% include googleanalytics.html %}

</body>

</html>
