<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.description %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Nunito:300,400" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/styles/global.css' | relative_url }}">

</head>

<body>

  <main class="main">
    {{ content }}
  </main>

  <script src="{{ '/scripts/global.js' | relative_url }}">
  {% include googleanalytics.html %}

</body>

</html>
