---
---

/* # Global
================================================== */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #424242;
  font-size: 15px;
  line-height: 1.5em;
  background-color: #fefefe;
  letter-spacing: 0.01em;
  overflow-y: scroll;
  text-rendering: optimizelegibility;
}
a:focus {
  outline: 1px dashed currentColor;
}

/* # Portfolio
================================================== */
.Portfolio {
  max-width: 980px;
  margin: 0 auto;
}
.ContactList,
.Intro,
.ProjectList {
    padding: 0 20px;
    @media all and (max-width: 900px) {
        padding: 0 10px;
    }
}

/* # Intro
================================================== */
.Intro__blurb {
  font-size: 32px;
  padding: 5% 0 5% 0;
  line-height: 1.333em;
  font-weight: 400;
}

/* # PrimaryNav
================================================== */
.PrimaryNav {
    padding-top: 10px;
}

/* # ContactList
================================================== */
.ContactList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  margin: 0;
  list-style: none;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y: visible;
}
.ContactList::-webkit-scrollbar {
  height: 12px;
}
.ContactList::-webkit-scrollbar-track {
  background: transparent;
}
.ContactList::-webkit-scrollbar-thumb {
  background-color: #145b7f;
  border-radius: 20px;
  border: 5px solid #fefefe;
}
.ContactList__item {
    margin: 0 1em 1em 0;
    padding: 0 1em 0 0;
    line-height: 1em;
    border-right: 1px solid #ccc;
}
.ContactList__item:last-child {
    border-right: 0;
}
.ContactList__link {
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    color: #145b7f;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    word-wrap: break-word;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    line-height: 1.1em;
    &.ContactList__link--current,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        border-bottom-color: #145b7f;
        z-index: 2;
    }
}
.ContactList__link--current {
    font-weight: 600;
}

/* # Projects
================================================== */
.ProjectList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-flex-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
   -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
  margin: 0 0 0 -20px;
  list-style: none;
}
.ProjectList__project {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 33.333%;
  padding: 0 0 20px 20px;
  margin: 0;
}
@media all and (max-width: 900px) {
  .ProjectList__project {
    width: 50%;
  }
}
@media all and (max-width: 500px) {
  .ProjectList__project {
    width: 100%;
  }
}

/* # Project Tiles
================================================== */
.Project {
  display: block;
  text-decoration: none;
  height: 100%;
  border-bottom: none;
  line-height: 20px;
  color: #424242;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-backface-visibility: hidden;
  border-radius: 3px;
  box-shadow:  10px 10px 30px #d8d8d8,
               -10px -10px 30px #ffffff;
  overflow: hidden;
}
.Project__image {
  background-size: cover;
  background-position: top center;
  width: 100%;
  position: relative;
  background-color: #eee;
  border-bottom: 1px solid #eee;
}
.Project__image:before {
  content: '';
  display: block;
  padding-top: 56.25%;
}
.Project__text {
    padding: 11px 15px 15px;
    background-color: #fff;
}
.Project__title {
  font-size: 22px;
  letter-spacing: 0.02em;
  margin: 0;
  font-weight: 600;
  line-height: 1.1em;
}
.Project__company {
  display: block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.333em;
  font-family: 'Nunito', sans-serif;
}
.Project__tagList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.333em 0 0 -2em;
  font-size: 11px;
  padding: 0;
}
.Project__tag {
  display: block;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1em;
  margin: 0 0 0 1em;
  padding: 0 0 0 1em;
  border-left: 1px solid #ccc;
  font-family: 'Nunito', sans-serif;
}
.Project__tag:first-child {
    border-left: 0;
}

/* # Project Tiles: Interaction
================================================== */
.Project__image {
  position: relative;
  text-align: center;
}
.Project__image:before {
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}
.Project__image:after {
    content: 'Visit Site';
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    opacity: 0;
    color: #fff;
}
.Project {
    &:hover,
    &:active,
    &:focus {
        .Project__image:before {
            background-color: rgba(0,0,0,0.5);
        }
        .Project__image:after {
            opacity: 1;
        }
    }
}

/* # Animations
================================================== */
.js-waterfall.js-fadeIn {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: fadeIn 1s ease 1 forwards;
          animation: fadeIn 1s ease 1 forwards;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
