---
---

/* # Global
================================================== */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #424242;
  font-size: 15px;
  line-height: 1.5em;
  background: #fff;
  font-weight: 200;
  letter-spacing: 0.01em;
  overflow-y: scroll;
  text-rendering: optimizelegibility;
}
h1,
h2,
h3,
h4 {
  line-height: 1.333em;
  margin: 0.33em 0;
  font-weight: 400;
}
a {
  color: #145b7f;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  word-wrap: break-word;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: inline-block;
  line-height: 1.1em;
}
a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
  border-bottom-color: #145b7f;
  z-index: 2;
}

/* # Portfolio
================================================== */
.Portfolio {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  @media all and (max-width: 900px) {
      padding: 0 10px;
  }
}

/* # Intro
================================================== */
.Intro__blurb {
  font-size: 32px;
  padding: 5% 0 5% 0;
}
.Intro .ContactList {
    padding-top: 10px;
}

/* # ContactList
================================================== */
.ContactList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 11px;
  margin-right: -2em;
}
.ContactList__item {
    margin: 0 1em 5px 0;
    padding: 0.1em 1em 0.1em 0;
    border-right: 1px solid #ccc;
    line-height: 1em;
}
.ContactList__item:last-child {
    border-right: 0;
}
.ContactList__link {
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* # Projects
================================================== */
.ProjectList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-flex-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
   -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
  margin: 0 0 0 -20px;
  @media all and (max-width: 900px) {
      margin: 0 0 0 -10px;
  }
}
.ProjectList__project {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 33.333%;
  padding: 0 0 40px 20px;
  @media all and (max-width: 900px) {
      padding: 0 0 40px 10px;
  }
}
@media all and (max-width: 900px) {
  .ProjectList__project {
    width: 50%;
  }
}
@media all and (max-width: 500px) {
  .ProjectList__project {
    width: 100%;
  }
}

/* # Project Tiles
================================================== */
.Project {
  display: block;
  height: 100%;
  border-bottom: none;
  line-height: 20px;
  color: #424242;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.Project__image {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-size: cover;
  background-position: top center;
  width: 100%;
  position: relative;
  background-color: #eee;
}
.Project__image:before {
  content: '';
  display: block;
  padding-top: 56.25%;
}
.Project__title {
  font-size: 22px;
  letter-spacing: 0.025em;
  margin: 0;
  font-weight: 700;
}
.Project__company {
  display: block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}
.Project__tagList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.667em 0 0 -0.667em;
  font-size: 11px;

  margin-left: -2em;
}
.Project__tag {
  display: block;
  margin: 0 0 0 0.667em;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1em;
  // background-color: #d8d8d8;
  // padding: 0.33em 0.5em;

  margin: 0 0 0 1em;
  padding: 0 0 0 1em;
  border-left: 1px solid #ccc;
}
.Project__tag:first-child {
    border-left: 0;
}

/* # Project Tiles: Interaction
================================================== */
.Project__image {
  position: relative;
  text-align: center;
}
.Project__image:before {
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.Project__image:after {
  content: 'Visit Site';
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  opacity: 0;
  color: #fff;
}
.Project:hover .Project__image:before,
.Project:active .Project__image:before,
.Project:focus .Project__image:before {
  background-color: rgba(0,0,0,0.5);
}
.Project:hover .Project__image:after,
.Project:active .Project__image:after,
.Project:focus .Project__image:after {
  opacity: 1;
}

/* # Animations
================================================== */
.js-waterfall.js-fadeIn {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: fadeIn 1s ease 1 forwards;
          animation: fadeIn 1s ease 1 forwards;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
